<?xml version="1.0" encoding="">

<suite>
<test Thread-count="5" name="ModuleOneTest">
<groups>
<define name="RegressionTest">
		<include name="featureOne"/>
		<include name="featureTwo"/>
		<include name="featureThree"/>
</define>

<deine name="SmokeTest">
		<include name="featureTwo"/>
		<include name="featureThree"/>
</define>

<run>
	<include name="RegressionTest"/>
</run>
</groups>

<classes>

</classes>
</test>
</suite>